@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

body {
  margin: 0;
  font-family: Tahoma Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

/************* layout *****************/

html {
  scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
}

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #eee;
}

html::-webkit-scrollbar {
  width: 18px;
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #777;
}

/************************/

.flex {
  flex-wrap: wrap;
}

.offers-grid-cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-around;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.offers-grid-cols article {
  margin: auto;
}

.offers-grid-cols img {
  min-height: 300px;
}

@media (min-width: 767px) {
  .offers-grid-cols {
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  }
}

.offers-grid-cols > article{
  margin: auto;
}

.wraper-center .swiper-wrapper {
  justify-content: space-around;
}

/**********************************/

.swiper-swiper {
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  top: 50%;
  transform: translateY(-50%);
  background: #fff !important;
  padding: 45px 25px !important;
  border-radius: 6px;
  z-index: 10000 !important;
  box-shadow: 0 0 10px 0px #7070a3;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  opacity: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px !important;
  color: #c2dada;
  font-weight: 900;
}

/**** footer ***/

footer li:hover > a {
  text-decoration: underline !important;
}

/**** hrader **********/

option {
  padding: 0 !important;
  cursor: pointer;
  font-size: 14px;
}

option,
optgroup {
  min-width: 200px;
}

/************* animations ***************/

.click-on-me{
  animation: move-icon 1s linear infinite;
  transform-origin: bottom right;
}

@keyframes move-icon {
  from{
    transform: rotateZ(10deg);
  }
  to{
    transform: rotateZ(0deg);
  }
}


@media (min-width:500px) {
  .xs-flex{
      display: flex;
  }
}